html,body,p,span,button,input,h1,h2,h3 {
font-family:'Cinzel Decorative', cursive;
}

body {	
    overflow:inline;
}

h1#title {
position:relative;
color:#FFF;
text-align:center;
font-size:35pt;
margin: auto 0;
margin-bottom: 30px;
}

#header {
padding-top: 200px;
padding-bottom: 50px;

-webkit-transition-property: padding-top;
-moz-transition-property: padding-top;
-o-transition-property: padding-top;
-ms-transition-property: padding-top;
transition-property: padding-top;

-webkit-transition-duration: 2s;
-moz-transition-duration: 2s;
-o-transition-duration: 2s;
-ms-transition-duration: 2s;
transition-duration: 2s;
}

#wrap {
width:100%;
max-width: 1200px
height:100%;
}

#search {
position:relative;
width:500px;
text-align:center;
margin: 0 auto;
/*padding-top: 50px;*/
}

#background {
width:100%;
height:100%;
background:url('../img/8_edited.jpg') no-repeat center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
-ms-background-size:cover;
background-size:cover;
position:fixed;
-webkit-filter:blur(9px);
-moz-filter:blur(9px);
-o-filter:blur(9px);
-ms-filter:blur(9px);
filter:blur(9px);
}

#header.loading {
padding-top: 80px;
}

#container {
	position: relative;
	margin: 50px;
	height: auto;
}

.music_card {
width: 200px;
height: 260px;
position: relative;
float: left;
margin: 30px;
	display: inline-block;

	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
	border: 2px solid #FAFAFA;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
background-color: #FFF;
}

.music_card > img {
	width: 100%	;
	height: auto;
    cursor: pointer;
}

.music_card_content {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
}

.music_card > p > span {
	font-family: sans-serif;
	display: block;
}

#player_container {
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
}

#player_container_left {
position: relative;
float: left;
display: inline;
width: 30%;
height: 1px;
}

#player_container_center {
position: fixed;
display: inline;
width: 40%;
}

#player_container_right {
position: relative;
float: right;
display:inline;
width: 30%;
}

#player {
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 30px;
}

#player_background {
	width: 100%;
	height: 80px;
	position: fixed;
	background-color: #000;
	opacity: 0.2;
}

#playing_album_cover {
	width: 80px;
	height: 80px;
	display: inline;
	float: left;
	margin-right: 10px;
}

#playing_content_container {
	margin: 0 auto;
	padding: 15px 3px 0px 3px
}

#playing_title {
	display: block;
	font-family: sans-serif;
color: #FFF;
	text-shadow: 2px 2px 4px #000000;
}

#playing_uploader {
	display: block;
	font-family: sans-serif;    
	color: #FFF;
	text-shadow: 2px 2px 4px #000000;
}